.quote_form {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background: #C69B7B;
    padding: 4em;
    border-radius: 5px;
}

.quote_form h1, h2 {
    color: white;
    margin-top: 30px;
}
.quote_form h3 {
    color: white;
    margin-top: 0px;
}


.quote_button {
    min-width: 15vw;
    border-radius: 5px;
    margin: 30px auto;
    background-color: #FC766AFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    cursor: pointer;
    border: 2px solid #FC766AFF;
}

.quote_button:hover {
    background-color: #5B84B1FF;
    color: #FC766AFF;
}

@media (max-width: 860px) {
    .quote_form {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .quote_form {
        width: 400px;
        padding: 3em;
    }
    .quote_form h1 {
        font-size: 24px;
    }
    .quote_form h2 {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .quote_form {
        width: 100%;
        padding: 2em;
    }
    .quote_form h1 {
        font-size: 22px;
    }
    .quote_form h2 {
        font-size: 15px;
    }
}