@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sora', sans-serif;
}


.form--input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main--content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.items--list {
    list-style: none;
}

.form {
    background: #C69B7B;
    padding: 4em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form--input label {
    color: #826F66;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form--input input {
    border: 1px solid #ccc;
    border-radius: 6px;
    font: inherit;
    max-width: 100%;
    padding: 0.5rem;
    width: 20rem;
    margin: 0 auto;
}

.form--input-button {
    background-color: #3A3845;
    border: 2px solid #3A3845;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    padding: 10px;
    width: 10em;
    margin: 30px auto;
}

.items--list li {
    background-color: #3A3845;
    color: white;
    padding: 20px;
    margin: 15px 0;
    width: 400px;
    overflow-wrap: break-word;
    border-radius: 10px;
    cursor: pointer;
}

.form--input-button:hover {
    background-color: #826F66;
    color: white;
    border: #826F66;
}

.empty--list {
    color: white;
    background-color: #3A3845;
    padding: 1.5rem;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .items--list li {
        width: 300px;
    }
    .form {
        padding: 1.8em;
        margin-top: 0;
        width: 100%;
    }
    .form--input label {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    body {
        width: 350px;
    }
}
